#confirm div {
    margin-top: 30px;
}


/* 小見出し */
#confirm dt {
    height: 30px;
    margin-left: 20px;
}

#confirm dd {
    display: block;
    margin-left: 10%;
}


#confirm p {
    text-align: center;
}


@media (min-width:560px) {
    #confirm div {
        display: flex;
        width: 100%;
    }

    #confirm dt {
        margin-top: 10px;
        flex-basis: 40%;
    }

    #confirm dd {
        margin-top: 10px;
        margin-left: 10px;
        flex-basis: 60%;
    }
}